:root{
  --background: #090808;
  --background-secondary: #f8f9fa;
  --primary-color: #dd002a;
  --secondary-color: #090808;
  --primary-text-color: white;
  --secondary-text-color: #090808;
  --hover-text-color: #dd002a;
  --third-text-color: #333;
  --arrobaIg-color: #a39799;

}

body {
  margin: 0;
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}